.Header {
    background: $color_lightest;

}

.Header__content {
    @include container;
    height: $header_height;
    lost-utility: clearfix;
}

.Header__left,
.Header__right {
        height: 100%;
        lost-align: center;
        .content {
            width: 100%;
        }
}

.Header__left {
    lost-column: 1/3 2;
    text-align: left;
}

.Header__right {
    lost-column: 2/3 2;
    text-align: right;
}

