.Logo {
    display: block;

    &.Logo--header {
        text-align: left;
        height: 55px;
    }

    &.Logo--footer {
        text-align: left;
        height: 55px;
    }
}

.Logo__img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}