.SearchArea {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    width: $gutter;
}

.SearchArea__toggle {
    border: none;
    background: none;
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    &:hover {
        cursor: pointer;
    }
}
