/*
Global styles for the site.
 */

body {
    height: 100%;
    background: $color_darkest;
    * {
        box-sizing: border-box;
    }
    &.admin-bar {
        height: calc(100vh - 46px);
        @include desktop {
            height: calc(100vh - 32px);
        }
    }
}

.Site {
    background: $color_lighter;
}
