.Trees {
    z-index: 0;
    position: absolute;
    bottom: -$gutter*2;
    left: 0;
    right: 0;
    opacity: .35;

    > * {
        position: absolute;
        bottom: 0;
        display: block;
        left: 0;
        right: 0;
        width: 100%;
    }

    .Trees__1 {
        opacity: .25;
    }
}